<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:backend:Menu/etc/menu.xsd">
    <menu>
<!--        <add id="WolfSellers_CustomerReferral::referals" title="Referral Management" module="WolfSellers_CustomerReferral" sortOrder="100" parent="Magento_Backend::content" action="customerreferral/referral/index" resource="WolfSellers_CustomerReferral::referals" />-->
        <add id="WolfSellers_CustomerReferral::referals" title="Referral Management" translate="title" module="WolfSellers_CustomerReferral" sortOrder="50" parent="Magento_Customer::customer" action="customerreferral/referral/index" resource="Magento_Customer::manage"/>
    </menu>
</config>
